<nav class="navbar navbar-expand-sm navbar-dark bg-secondary d-flex justify-content-between">
    <a class="navbar-brand" href="#">E-FAKTUR</a>
</nav>
<form #invoiceForm="ngForm">
    <div class="container-fluid pt-2 mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h4 class="card-title">Keterangan Konsumen</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="name">Nama</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                                        [(ngModel)]="invoice.customerName" #CustName="ngModel" required>
                                </div>
                                <div class="form-group">
                                    <label for="address">Alamat</label>
                                    <textarea class="form-control" name="address" id="address" row="3"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && Address.invalid}"
                                        [(ngModel)]="invoice.address" #Address="ngModel" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email / ID</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        [(ngModel)]="invoice.email" required>
                                </div>
                                <div class="form-group">
                                    <label for="contactNo">Nomer tlp.</label>
                                    <input type="number" class="form-control" name="contactNo" id="contactNo"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && ContactNo.invalid}"
                                        [(ngModel)]="invoice.contactNo" #ContactNo="ngModel" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mt-2">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">Daftar Barang<button type="button"
                                class="btn btn-success" (click)="addProduct()">+</button></h4>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="25%">Nama Barang</th>
                                        <th width="25%">Harga</th>
                                        <th width="25%">Kuantitas</th>
                                        <th width="25%">Diskon</th>
                                        <th width="25%">Jumlah</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of invoice.products; let i=index">
                                        <td scope="row">
                                            <input type="text" class="form-control" name="productName{{i}}"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}"
                                                id="productName" [(ngModel)]="product.name" #ProductName="ngModel"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="price{{i}}" id="price"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                                                [(ngModel)]="product.price" #ProductPrice="ngModel" required>
                                        </td>
										
                                        <td>
                                            <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                                                [(ngModel)]="product.qty" #ProductQty="ngModel" required>
                                        </td>
										
										<td>
                                            <input type="number" class="form-control" name="discont{{i}}" id="discont"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                                                [(ngModel)]="product.disc" #ProductDisc="ngModel" required>
                                        </td>
										
                                        <td>
                                            {{ (product.price * product.qty) - product.price * product.qty * product.disc / 100  || ''}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mt-2">
                    <div class="card-body">
                        <h4 class="card-title">Catatan</h4>
                        <div class="form-group">
                            <textarea class="form-control" name="additionalDetails" rows="3"
                                [(ngModel)]="invoice.additionalDetails"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF('download') : ''">Unduh Faktur</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF('print') : ''">Cetak
                    Faktur</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF() : ''">Buka
                    Faktur</button>
            </div>
        </div>
    </div>
</form>
<footer class="fixed-bottom">
    <div class="bg-light text-center p-2">
        <h6>Made with 💗 by
            <a class="twitter-follow-button" href="https://twitter.com/sandyartha92" target="_blank"> <i class="fa fa-twitter"
                    aria-hidden="true"></i>Sandyartha92</a>.
        </h6>
    </div>
</footer>